page-home {
    #img img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 60%; 
    
        button{
            background: burlywood
        }


    }



}
